body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: #111;
}

/* HERO */
.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #0033cc, #6aa8ff);
    color: white;
}

.profile-pic {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

/* BUTTONS */
.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #0033cc;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.buttons .btn:hover {
    background: #dde8ff;
}

/* SECTIONS */
section {
    padding: 50px 25px;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #0033cc;
    margin-bottom: 15px;
}

/* ABOUT */
.about p {
    line-height: 1.6;
    font-size: 18px;
}

/* SKILLS */
.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    padding: 5px 0;
    font-size: 18px;
}

/* PROJECT CARD */
.project-card {
    background: #f5f7ff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 15px;
    text-align: left;
}

.project-card h3 {
    margin-top: 0;
    color: #0033cc;
    font-weight: bold;
}

/* CONTACT */
.contact p {
    font-size: 18px;
}
