body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111;
    text-align: center;
}

/* HERO */
.hero {
    padding: 40px 20px;
    background: linear-gradient(to bottom, #0033cc, #6aa8ff);
    color: white;
}

.profile-container {
    display: flex;
    justify-content: center;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

.name {
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
}

/* BUTTONS */
.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #0033cc;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.buttons .btn:hover {
    background: #dce6ff;
}

/* SECTIONS */
section {
    padding: 40px 20px;
}

h2 {
    color: #0033cc;
    margin-bottom: 10px;
}

/* SKILLS */
.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    padding: 5px 0;
    font-size: 18px;
}

/* PROJECT */
.project-card {
    margin-top: 20px;
}

.diagram {
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 10px;
}

/* CONTACT */
.contact p {
    font-size: 18px;
}
